.gray {
    background-color: rgb(225, 225, 225)
}

.green{
    background-color: rgb(151, 255, 151);
}

.red{
    background-color: rgb(255, 184, 184)
}

label{
    margin: 20px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

.main{
    width: 80%;
   
}